@model CloudPrinter.Models.PrinterModels

@{
    ViewBag.Title = "打印机信息列表";
}

<h2>打印机信息表</h2>

<div>
    <h4>打印机信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.printerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.printerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stateMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stateMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { printerNumber = Model.printerNumber })
</p>
