@model CloudPrinter.Models.PrinterModels

@{
    ViewBag.Title = "编辑打印信息";
}

<h2>编辑</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("cState", Model.cState);
    <div class="form-horizontal">
        <h4>打印机信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.printerNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.printerNumber, new { htmlAttributes = new { @class = "form-control", @readonly=true } })
                @Html.ValidationMessageFor(model => model.printerNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.printerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.printerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.printerName, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (ViewBag.loginAccount.Equals(ViewBag.superAccount))
{
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("绑定","BandPrinter",new { userAccount=Model.userAccount}) |
        @Html.ActionLink("解绑","OutBandPrinter",new { userAccount=Model.userAccount})
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

