@model IEnumerable<CloudPrinter.Models.PrinterModels>

@{
    ViewBag.Title = "云打印主页";
}

<h2>云打印应用程序</h2>

<p>
    @Html.ActionLink("注册新打印机", "Create", new { userAccount = ViewBag.userAccount })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.printerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.printerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registerTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (ViewBag.userAccount.Equals(item.userAccount))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.printerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.printerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stateMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.registerTime)
                </td>
                <td>
                    @if (ViewBag.superAccount.Equals(item.userAccount))
                    {
                        @Html.ActionLink("绑定", "Edit", new { printerNumber = item.printerNumber })
                    }
                    else
                    {
                        using (Html.BeginForm("Edit","PrinterModels",new { printerNumber=item.printerNumber,userAccount="",printerName=item.printerName,
                            mState =item.mState,cState=item.cState,stateMessage=item.stateMessage,userName="" },FormMethod.Post))
                        {
                            <input type="submit" value="解绑" />
                        }
                    }
                    | @Html.ActionLink("预览", "Details", new { printerNumber = item.printerNumber }) |
                    @Html.ActionLink("删除", "Delete", new { printerNumber = item.printerNumber })
                </td>
            </tr>
        }
    }

</table>
