@model IEnumerable<CloudPrinter.Models.PrinterModels>

@{
    ViewBag.Title = "云打印主页";
}

<h2>云打印应用程序</h2>

<p>
    @Html.ActionLink("注册新打印机", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.printerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.registerTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.printerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.registerTime)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.PrinterModelsId }) |
            @Html.ActionLink("预览", "Details", new { id=item.PrinterModelsId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.PrinterModelsId })
        </td>
    </tr>
}

</table>
