@model CloudPrinter.Models.UserModels

@{
    ViewBag.Title = "创建用户";
}

<h2>创建账户</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("referrer", Request.UrlReferrer.ToString())
    <div class="form-horizontal">
        <h4>账户信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userAccount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10" style="width:100%;padding-left:18%">
                <table style="width:40%">
                    <tr>
                        <td style="width:10%">
                            <input type="text" name="code" style="width:100%" />
                        </td>
                        <td style="width:10%">
                            <img id="vcodeimg" src="/UserLogin/VCode" style="width:100%;height:100%" />
                        </td>
                        <td style="width:20%">
                            <input type="submit" style="cursor: pointer; text-decoration: underline;width:50%;border:hidden;padding-left:15px;background-color:azure" id="nextImg" value="更换">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*<div>
        <a href="#" onclick="javascript:history.back();">返回前一页</a>
    </div>*@

