@model CloudPrinter.Models.UserModels

@{
    ViewBag.Title = "账户信息列表";
}

<h2>信息表</h2>

<div>
    <h4>账户信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registerDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { userAccount = Model.userAccount })
</p>
