@model IEnumerable<CloudPrinter.Models.UserModels>

@{
    ViewBag.Title = "主界面";
}

<h2>账户主页面</h2>

<p>
    @Html.ActionLink("创建新账户", "Create") |
    @Html.ActionLink("注册新打印机", "Create","PrinterModels",new { userAccount=ViewBag.loginAccount},"")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registerDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registerDate)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { userAccount=item.userAccount }) |
            @Html.ActionLink("信息", "Details", new { userAccount = item.userAccount }) |
            @Html.ActionLink("删除", "Delete", new { userAccount = item.userAccount })
        </td>
    </tr>
}

</table>
